<?xml version="1.0"?>
<config>
    <modules>
        <Eg_SaveInvoice>
            <version>0.1.1</version>
        </Eg_SaveInvoice>
    </modules>
    <global>
        <models>
            <eg_saveinvoice>
                <class>Eg_SaveInvoice_Model</class>
            </eg_saveinvoice>
        </models>
        <helpers>
            <eg_saveinvoice>
                <class>Eg_SaveInvoice_Helper</class>
            </eg_saveinvoice>
        </helpers>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <eg_saveinvoice_invoice_observer>
                        <class>eg_saveinvoice/observer</class>
                        <method>saveInvoice</method>
                    </eg_saveinvoice_invoice_observer>
                </observers>
            </sales_order_invoice_save_after>
        </events>
    </global>
    <default>
        <sales>
            <saveinvoice>
                <enabled>0</enabled>
                <export_folder>var/importexport/invoices</export_folder>
            </saveinvoice>
        </sales>
    </default>
</config>